body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* First Cathegory */

.first {
    position: absolute;
    height: 40vw;
    width: 100%;

    background: linear-gradient(-45deg, #21bf2b, #3ce759, #23a6d5, #1b2b83);
	background-size: 300% 300%;
	animation: first_gradient 7s ease infinite;

} @keyframes first_gradient {
	0%      { background-position: 0% 0%; }
    25%     { background-position: 25% 50%; }
	50%     { background-position: 50% 100%; }
    75%     { background-position: 25% 50%; }
	100%    { background-position: 0% 0%; }
}

.headText {
    position: relative;
    top: 10%;
    height: auto;
    left: 2%;
    width: 30%;

    color: white;
    font-family: sans-serif;
    font-size: 7vw;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    animation: headText_fade 2s linear, headText_move 2s linear;

} @keyframes headText_move {
    0%      { left: -1%; }
    100%    { left: 2%; }
} @keyframes headText_fade {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

.mySelf {
    position: absolute;
    top: 10%;
    height: 80%;
    left: 60%;
    width: 35%;
}


/* Second Cathegory */

.second {
    position: absolute;
    top: 40vw;
    height: 200%;
    left: 0%;
    width: 100%;
    background-color: white;
}

.dynamic {
    position: relative;

    top: 10%;
    height: 20em;
    left: 40%;
    width: 55vw;

    transform: translateY(40%);
    opacity: 0;
    transition: .5s all ease;
}

.dynamic.active {
    position: relative;

    top: 10%;
    height: 20%;
    left: 40%;
    width: 55vw;

    background-color: rgb(18, 24, 31);
    white-space: nowrap;
    overflow: auto;
    
    border-radius: 25px;

    transform: translateY(0);
    opacity: 1;
}

.dynamic > div {
    position: relative;

    resize: both;

    height: 40%;
    width: 30%;

    display: inline-block;

    margin: 5%;

    border-radius: 25px;
    
    background-color: rgb(40, 48, 56);
    padding: 5%;
    /* padding-inline: 10%; */
}